<div class="tile m-l-10 m-r-10 p-t-10 embed__vis" data-test="VisualizationEmbed">
  <div class="embed-heading p-b-10 p-r-15 p-l-15" ng-if="!$ctrl.hideHeader">
    <h3>
      <visualization-name visualization="$ctrl.visualization"/>
      {{$ctrl.query.name}}

      <small ng-if="$ctrl.showQueryDescription">
        <div class="text-muted" ng-bind-html="$ctrl.query.description | markdown"></div>
      </small>
    </h3>
  </div>

  <div class="col-md-12 query__vis">
    <div ng-if="$ctrl.error">
      <div class="alert alert-danger" data-test="ErrorMessage">Error: {{$ctrl.error}}</div>
    </div>

    <visualization-renderer visualization="$ctrl.visualization" query-result="$ctrl.queryResult" class="t-body" ng-if="$ctrl.queryResult" context="'widget'">
    </visualization-renderer>
  </div>

  <div class="tile__bottom-control">
    <span>
      <a class="small hidden-print" ng-click="$ctrl.refreshQueryResults()">
        <i ng-class='{"zmdi-hc-spin": $ctrl.loading}' class="zmdi zmdi-refresh"></i>
        <span am-time-ago="$ctrl.queryResult.getUpdatedAt()" ng-if="!$ctrl.loading"></span>
        <rd-timer from="$ctrl.refreshStartedAt" ng-if="$ctrl.loading"></rd-timer>
      </a>
      <span class="small visible-print"><i class="zmdi zmdi-time-restore"></i> {{$ctrl.queryResult.getUpdatedAt() | dateTime}} UTC</span>
    </span>
  </div>
</div>
